<h1>Formación Académica</h1>
<div class="row">
    <div class="col-lg-11">
        <ul>
            <li>
                <h1> Educacion 1</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius ullam facilis ad pariatur laudantium porro aliquid voluptates distinctio cum, alias magni nesciunt, modi veritatis aut iusto optio at perferendis doloribus.</p>
        </ul>
        <ul>
            <li>
                <h1> Educacion 2</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius ullam facilis ad pariatur laudantium porro aliquid voluptates distinctio cum, alias magni nesciunt, modi veritatis aut iusto optio at perferendis doloribus.</p>
        </ul>
        <ul>
            <li>
                <h1> Educacion 3</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius ullam facilis ad pariatur laudantium porro aliquid voluptates distinctio cum, alias magni nesciunt, modi veritatis aut iusto optio at perferendis doloribus.</p>
        </ul>

    </div>
</div>
/* agregar los iconos de cada instituto academico*/ 
