<div class="row">
    <h1>Hard & Soft skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="50" [radius]="100" [showUnits]="false" [title]="'HTML'" [titleFontSize]="'1em'" [titleColor]="'black'" [showSubtitle]="false" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
            [outerStrokeColor]="'#77EADA'" [innerStrokeColor]="'#BFEADA'" [animation]="true" [animationDuration]="500">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="75" [radius]="100" [showUnits]="false" [title]="'JavaScript '" [titleFontSize]="'1em'" [titleColor]="'black'" [showSubtitle]="false" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
            [outerStrokeColor]="'#77EADA'" [innerStrokeColor]="'#BFEADA'" [animation]="true" [animationDuration]="500">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="70" [radius]="100" [showUnits]="false" [title]="'JAVA'" [titleFontSize]="'1em'" [titleColor]="'black'" [showSubtitle]="false" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
            [outerStrokeColor]="'#77EADA'" [innerStrokeColor]="'#BFEADA'" [animation]="true" [animationDuration]="500">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="85" [radius]="100" [showUnits]="false" [title]="'Inglés'" [titleFontSize]="'1em'" [titleColor]="'black'" [showSubtitle]="false" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
            [outerStrokeColor]="'#77EADA'" [innerStrokeColor]="'#BFEADA'" [animation]="true" [animationDuration]="500">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="90" [radius]="100" [showUnits]="false" [title]="'Comunicación'" [titleFontSize]="'1em'" [titleColor]="'black'" [showSubtitle]="false" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
            [outerStrokeColor]="'#77EADA'" [innerStrokeColor]="'#BFEADA'" [animation]="true" [animationDuration]="500">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="80" [radius]="100" [showUnits]="false" [title]="'Trabajo en equipo'" [titleFontSize]="'1em'" [titleColor]="'black'" [showSubtitle]="false" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
            [outerStrokeColor]="'#77EADA'" [innerStrokeColor]="'#BFEADA'" [animation]="true" [animationDuration]="500">
        </circle-progress>
    </div>

</div>